* {
  background-color: #d23333;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.title {
  color: whitesmoke;
  font-family: "Oswald";
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdTimer {
  width: 100%px;
  height: 100px;
  border-radius: 6px;
  background-color: whitesmoke;

  font-family: "Oswald";
  font-size: 18px;
  color: #fa543c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdTimer span {
  margin-left: 4px;
  margin-right: 4px;
  background-color: whitesmoke;
}

.time {
  font-style: italic;
}

.footer {
  color: whitesmoke;
  font-size: 10px;
  font-style: italic;
}

// ===== BREAKPOINTS ===== //

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1610px,
);

// ===== MEDIA QUERY ===== //

@media only screen and (min-width: 344px) {
  .cdTimer {
    font-size: 20px;
  }
}

@media only screen and (min-width: 480px) {
  .cdTimer {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .cdTimer {
    font-size: 45px;
  }
}

@media only screen and (min-width: 1028px) {
  .cdTimer {
    font-size: 64px;
  }
}
